@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
  font-family: 'digital-7';
  src: url('/fonts/digital-7.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.contractAddress {
  color: rgb(3, 248, 3);
  font-family: 'Russo One', sans-serif;
  font-size: 12px;
  margin-right: 10px;
}

.Counter {
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'digital-7', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(3, 248, 3);
  font-size: 60px;
  transform: translateY(-50%);
}

.btn {
  text-align: center;
  background-color: transparent;
  border: 2px solid rgb(3, 248, 3);
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(3, 248, 3);
  color: black;
}

.btn:active {
  transform: scale(0.95);
}

.txt-c {
  text-align: center;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  left: 0px;
}

.p {
  position: relative;
  padding: 5px;
}

p {
  text-align: center;
}

.bg-black {
  color: black;
}

.lower-Font {
  font-size: 48px;
}
